click==8.5.0
Jinja2==3.1.6
PyYAML==6.0.3
WeasyPrint==70.0
Markdown==3.11
MarkupSafe==3.0.3
cffi==2.1.1
pycparser==3.0
cssselect2==0.10.1
tinycss2==1.5.1
webencodings==0.6.1
tinyhtml5==2.1.0
pydyf==0.12.1
Pyphen==0.18.1
Pillow==12.3.0
fonttools[woff]==4.66.1
brotli==1.2.0
zopfli==0.4.3
